* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-navy: #020c1b;
  --dark-navy2: #020c1b96;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --light-blue: #3379e2;
  --light-blue-tint: #3379e23a;
  --blue-sky: #87ceeb;
  --blue-tint: #07445e80;
  --yellow: #ffdb588f;
  --yellow2: #ffdb58;
  --yellow-tint: #ffdb582d;
  --light-yellow: #564a20;

  --linear-gradient: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1.2rem;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  background: var(--navy);
  background: #111827;

  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--lightest-slate);
  display: inline-block;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

ul li a:hover,
ul li:hover {
  color: var(--blue);
}

li {
  list-style: none;
  padding: 1rem;
}

li:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  margin: 0 7rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  background: var(--navy);
  border-bottom: 3px solid var(--dark-navy2);
}

/*===============================================================*/

.btn-grad {
  background-image: var(--linear-gradient);
  width: 15rem;
  padding: 0.7rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn {
  width: 15rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  outline: 2px solid var(--blue);
  transition: color 1s;
  margin-top: 2rem;
  border-radius: 0.1rem;
}

.btn:hover {
  color: var(--navy);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0.5rem;
  height: 100%;
  background-color: var(--blue);
  transform: skewX(50deg);
  z-index: -1;
  transition: width 1s;
}

.btn:hover::before {
  width: 150%;
}

/*===============================================================*/
.title {
  color: var(--linear-gradient);
  font-size: 3rem;
  font-size: clamp(40px, 8vw, 80px);

  background: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.subtitle {
  color: var(--slate);
  font-size: 1.5rem;
}

.container {
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 5rem;
}
